<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
        <title>codigomx - eval</title>
        <!-- CSS -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="/styles/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
        <link href="/styles/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>

    </head>
    <body>
        <nav class="black lighten-1" role="navigation">
            <div class="nav-wrapper container">
                <a id="logo-container" href="#" class="brand-logo">codigomx</a>
                <ul class="right hide-on-med-and-down">
                    {% if session.userName %}
                        <li>
                            <a href="#">{{ session.userName }}</a>
                        </li>
                        <li>
                            <a href="/logout">
                                <i class="material-icons">exit_to_app</i>
                            </a>
                        </li>
                    {% endif %}
                </ul>

                <ul id="nav-mobile" class="sidenav">
                    <li>
                        <a href="#">Navbar Link</a>
                    </li>
                </ul>
                <a href="#" data-target="nav-mobile" class="sidenav-trigger">
                    <i class="material-icons">menu</i>
                </a>
            </div>
        </nav>
        
        {% block content %}{% endblock %}


        <footer class="page-footer light-blue darken-1">
            <div class="container">
                <div class="row">
                    <div class="col l6 s12">
                        <h5 class="white-text">codigomx</h5>

                    </div>
                    <div class="col l3 s12">
                       
                    </div>
                    <div class="col l3 s12">
                        
                    </div>
                </div>
            </div>
            <div class="footer-copyright light-blue darken-2">
                <div class="container">
                    Made by
                    <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
                </div>
            </div>
        </footer>

        <div id="respuestas" class="modal bottom-sheet">
            <div class="modal-content">
                <div class="row">
                    {% if session.userName %}
                    <form class="col s12" id="response-form">
                        <div class="input-field col s9">
                            <input id="response-content" type="text" name="responseContent" class="validate" required>
                            <label for="response-content">Agrega una respuesta</label>
                        </div>
                        <div class="input-field col s3">
                            <button class="btn waves-effect waves-light"  id="submit-response" data-pk="">Publicar
                                <i class="material-icons right">send</i>
                            </button>
                        </div>
                    </form>
                    {% else %}
                        <p>Inicia sessión para agregar respuestas.</p>
                    {% endif %}
                </div>
                <div class="progress" id="response-loading">
                    <div class="indeterminate"></div>
                </div>
                <ul class="collection" id="response-list">
                    
                </ul>
            </div>
        </div>

        <!-- Scripts-->
        <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="/js/materialize.min.js"></script>
        <script src="/js/init.js"></script>

    </body>
</html>

    
